# ClickHouse OLAP
CLICKHOUSE_DB=OLAP
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=admin

# PostgreSQL OLTP
POSTGRES_DB=OLTP
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=xxxxxxxxxxxxxx

#ngrok
NGROK_AUTHTOKEN=xxxxxxxxxxxxxx
NGROK_API=http://ngrok:4040/api/tunnels

# Application Settings
PROJECT_NAME=finbot

# Server
PORT=8000