# PostgreSQL OLTP
POSTGRES_DB=finbot
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=xxxxxxxxxxxxxx

# ngrok
NGROK_AUTHTOKEN=xxxxxxxxxxxxxx
NGROK_API=http://ngrok:4040/api/tunnels

# Application Settings
PROJECT_NAME=finbot

# Server
PORT=8000

# Notification services
OPENWEATHER_API_KEY=your_key_here
NEWS_API_KEY=your_key_here
WEATHER_CITY=Ho Chi Minh City
TIMEZONE=Asia/Ho_Chi_Minh
